<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bulletin Board</title>
</head>

<body>
    <h1>Welcome to Bulletin Board!</h1>
    <h3>Please add a new message</h3>
    <form method='POST' action='/addMessage'>
        <input type="text" placeholder="title of your message" name='title'>
        <input type="text" placeholder='your message' name='body'>
        <input type="submit" value='SEND'>

    </form>
</body>

</html>